@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

@media only screen and (max-width: 768px) {

	table th.column-filename,
	table td.column-filename,
	table td.subcolumn-progress {
		display: none;
	}

	.pagination-centered {
		text-align: center !important;
		width: none !important;
	}

}

@media only screen and (max-width: 375px) {

	table th.column-createdat,
	table td.column-createdat,
	table td.subcolumn-progress {
		display: none;
	}

}

.pagination-centered {
	text-align: left;
}

.footer {
	padding: 30px !important;
}

.title-link {
	color: #3e3f3a;
	font-size: 14px;
}